body {
    font-family: Baskerville, Prillwitz; /* Sets font family */
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #F8F0E5; 
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Makes items align in a row */
    justify-content: space-around; /* Distributes items evenly */
    background-color: #102C57; /* Background color for visibility */
}

nav ul li {
    flex-grow: 3; /* Allows items to stretch */
    text-align: center; /* Centers the text */
    display: inline;
    padding: 10px;
    font-family: prillwitz pro, sans-serif; /* Sets font family */
    font-style: normal;
    color: white;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-family: prillwitz pro; /* Sets font family */
    font-size: 18px;
    text-decoration: none;
    font-style: bold;
}

nav ul li a:hover {
    background-color: #153463;
}

li{
    list-style-type: none;
}

p{
    margin-left: 20px;
}

.container {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }
   
   img {
    max-width: 100%;
    max-height:100%;
    width: 300px; /* Sets the width */
    height: auto; /* Maintains aspect ratio */
    border: 5px solid #102C57; /* Adds a solid border */
    border-radius: 20px; /* Rounds the edges */
   }
   
   .text {
   }
   